mixin icon-arrow-right(className='')
    svg(class=className fill="none" height="24" viewBox="0 0 24 24" width="24")
        path(d="m20.7806 12.5306-6.75 6.75c-.1407.1407-.3316.2198-.5306.2198s-.3899-.0791-.5306-.2198c-.1408-.1407-.2198-.3316-.2198-.5306s.079-.3899.2198-.5306l5.4703-5.4694h-14.6897c-.19891 0-.38968-.079-.53033-.2197-.14065-.1406-.21967-.3314-.21967-.5303s.07902-.3897.21967-.5303c.14065-.1407.33142-.2197.53033-.2197h14.6897l-5.4703-5.46939c-.1408-.14073-.2198-.3316-.2198-.53062s.079-.38989.2198-.53063c.1407-.14073.3316-.21979.5306-.21979s.3899.07906.5306.21979l6.75 6.75004c.0698.0696.1251.1523.1628.2434.0378.091.0572.1886.0572.2872s-.0194.1961-.0572.2872c-.0377.091-.093.1738-.1628.2434z" fill="currentColor")
