@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
    font-style: normal;
}
